
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: gray;
}

::-webkit-scrollbar-track{
  background: orange;
}
